body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    margin-left: 300px;
    margin-right: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#results div {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

button {
    background-color:gainsboro;
    color:rgb(31, 30, 30);
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:  70px;
    justify-content: space-between;
    
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}







